.divDescription
    .col-12
        .subtitle
            color: #e69251
            text-transform: uppercase
            letter-spacing: 2px
            font-weight: 900
            font-size: 13px
            padding: 20px 0 10px 0
        .title
            padding: 0 0 10px 0
            font-size: 30px
            font-weight: 900
            line-height: 1
        .text
            color: #929397
            font-size: 15px
            padding-bottom: 20px
            padding-top: 20px

        .allValues
            align-items: center
            .valuesDiv
                display: flex
                align-items: center
                .productVal
                    color: black
                    font-size: 30px !important
                    font-weight: bolder
                .discountVal
                    color: #ef8333
                    background-color: #fff1de
                    padding: 0px 8px
                    border-radius: 5px
                    margin-left: 18px

            .totalVal
                color: #b8b9bf
                text-decoration: line-through