body {
  margin: 0;
  font-family: "Kumbh Sans", sans-serif !important;
}

.headerDesktop {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.headerDesktop ul {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  list-style: none;
  overflow: hidden;
  align-items: center;
  padding: 0;
}
.headerDesktop ul li {
  padding: 15px;
}
.headerDesktop ul li a {
  text-decoration: none;
  color: #a1a1a2;
  font-size: 13px;
}
.headerDesktop .part01Menu .logoSK {
  margin-right: 30px;
}
.headerDesktop .part01Menu .logoSK a {
  display: block;
  padding: 0;
  text-decoration: none;
  color: black;
}
.headerDesktop .part01Menu .part03Menu li {
  padding: 0;
}
.headerDesktop .part02Menu li {
  padding: 0px;
  width: 100%;
  border-bottom: 2px solid #f2f2f2;
}

.headerMobile {
  width: 100%;
  z-index: 3;
  display: none;
  background: #fff;
}
.headerMobile ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.headerMobile li a {
  display: block;
  padding: 20px 10px;
  text-decoration: none;
}
.headerMobile .part01Menu .logoSK {
  padding-top: 4px;
}
.headerMobile .part01Menu .logoSK a {
  display: block;
  padding: 0;
  text-decoration: none;
  color: black;
  letter-spacing: -1px;
  font-size: 30px;
  font-weight: 700;
  text-transform: lowercase;
}
.headerMobile .part02Menu {
  display: none;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}
.headerMobile .menu-icon {
  cursor: pointer;
  float: left;
  padding: 31px 15px 31px 30px;
  position: relative;
  user-select: none;
}
.headerMobile .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 15px;
}
.headerMobile .menu-icon .navicon:before {
  top: 6px;
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}
.headerMobile .menu-icon .navicon:after {
  top: -6px;
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}
.headerMobile .menu-btn {
  display: none;
}
.headerMobile .menu-btn:checked ~ .menu {
  max-height: 240px;
}
.headerMobile .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}
.headerMobile .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}
.headerMobile .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}
.headerMobile .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before {
  top: 0;
}
.headerMobile .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@media (max-width: 1199px) {
  .headerDesktop {
    display: none;
  }

  .headerMobile {
    display: flex;
  }
}
.product .bannerItems {
  display: none;
}

.divProductDesk {
  display: none;
}

@media (min-width: 999px) {
  .divProductDesk {
    display: block;
  }
  .divProductDesk .bannerItemDesk {
    max-width: 500px;
    padding-top: 50px;
    z-index: -1;
  }
  .divProductDesk .bannerItemDesk img {
    max-width: 500px;
    border-radius: 20px;
  }
  .divProductDesk .thumbBanner img {
    border-radius: 10px;
  }
  .divProductDesk .thumbBanner .slick-current {
    opacity: 0.5;
    border: 1px solid #ff7d1b;
  }
  .divProductDesk .thumbBanner .slick-slide {
    cursor: pointer;
  }

  .divDescription {
    padding-top: 100px;
  }
  .divDescription .col-12 .allValues {
    flex-direction: column;
    align-items: start !important;
  }
}
@media (max-width: 999px) {
  .product .bannerItems {
    display: block;
    border: 2px solid #ff7d1b;
  }
  .product .bannerItems .slick-prev {
    margin-left: 40px;
    z-index: 1;
    background-color: #fff !important;
    padding: 15px !important;
    width: 45px !important;
    height: 45px !important;
    border-radius: 100%;
    text-align: center;
  }
  .product .bannerItems .slick-prev::before {
    display: none;
  }
  .product .bannerItems .slick-next {
    margin-right: 40px;
    background-color: #fff !important;
    padding: 15px !important;
    width: 45px !important;
    height: 45px !important;
    border-radius: 100%;
    text-align: center;
  }
  .product .bannerItems .slick-next::before {
    display: none;
  }
  .product .bannerItems .iconSlide {
    width: 10px;
  }
}
@media (max-width: 565px) {
  .product {
    padding: 0 !important;
    margin: 0 !important;
  }
  .product .bannerItems {
    border: none !important;
  }
}
.divDescription {
  height: 68vh;
}
.divDescription .col-12 .subtitle {
  color: #e69251;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 900;
  font-size: 13px;
  padding: 20px 0 10px 0;
}
.divDescription .col-12 .title {
  padding: 0 0 10px 0;
  font-size: 30px;
  font-weight: 900;
  line-height: 1;
}
.divDescription .col-12 .text {
  color: #929397;
  font-size: 15px;
  padding-bottom: 20px;
  padding-top: 20px;
}
.divDescription .col-12 .allValues {
  align-items: center;
}
.divDescription .col-12 .allValues .valuesDiv {
  display: flex;
  align-items: center;
}
.divDescription .col-12 .allValues .valuesDiv .productVal {
  color: black;
  font-size: 30px !important;
  font-weight: bolder;
}
.divDescription .col-12 .allValues .valuesDiv .discountVal {
  color: #ef8333;
  background-color: #fff1de;
  padding: 0px 8px;
  border-radius: 5px;
  margin-left: 18px;
}
.divDescription .col-12 .allValues .totalVal {
  color: #b8b9bf;
  text-decoration: line-through;
}
.divDescription .col-12 .quantityDiv {
  margin-top: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #f7f8fd;
  border-radius: 10px;
}
.divDescription .col-12 .quantityDiv .col {
  align-items: center;
}
.divDescription .col-12 .quantityDiv .col .removeCart {
  color: #f3822c;
  font-size: 25px;
  margin-top: -5px;
  font-weight: bold;
}
.divDescription .col-12 .quantityDiv .col .quantityCart {
  font-size: 15px;
  font-weight: bold;
}
.divDescription .col-12 .quantityDiv .col .addCart {
  color: #f3822c;
  font-size: 25px;
  margin-top: -5px;
  font-weight: bold;
}
.divDescription .col-12 .divAddCart {
  padding-top: 15px;
}
.divDescription .col-12 .divAddCart .btnAddCart {
  color: white;
  border: none;
  background-color: #ff7d1b;
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=main.css.map */
